.angular-google-map-container { position: absolute; top: 0; left: 0;height: 100%; width: 100%; z-index:150; }

/* 
	Navbar/searchbar style based on: http://speckyboy.com/2012/02/15/how-to-build-a-stylish-css3-search-box/
*/
nav {
	background: #FFF;
	border-bottom: 1px solid #D8D8D8;
	z-index: 155;
	width: 100%;
	position: absolute;
}

.search-wrapper:before, .search-wrapper:after{
	content: "";
	display: table;
}
.search-wrapper:after {
	clear: both;
}
.search-wrapper {
	zoom: 1;
	width: 450px;
	padding: 15px;
	margin: 5px auto;
}

.search-wrapper input {
	width: 340px;
	height: 40px;
	padding: 10px 5px;
	float: left;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	background: #FAFAFA;
	border-radius: 3px 0 0 3px;
	color: #424242;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.search-wrapper input:focus {
	outline: 0;
	background: #FFF;
	border: 2px solid #FAFAFA;
}

.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	text-transform: uppercase;
	color: #FFF;
	background: #d83c3c;
	border-radius: 0 3px 3px 0;  
}
.search-wrapper button:hover{    
    background: #e54040;
}  
.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
.search-wrapper button:hover:before{
    border-right-color: #e54040;
}
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
} 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}