.angular-google-map-container { position: absolute; top: 0; left: 0;height: 100%; width: 100%; z-index:150; }


/* 
	Navbar/searchbar style based on: http://speckyboy.com/2012/02/15/how-to-build-a-stylish-css3-search-box/
*/
nav {
	background: #FFF;
	border-bottom: 1px solid #D8D8D8;
	z-index: 155;
	width: 100%;
	position: absolute;
}

.search-wrapper:before, .search-wrapper:after{
	content: "";
	display: table;
}
.search-wrapper:after {
	clear: both;
}
.search-wrapper {
	zoom: 1;
	max-width: 450px;
	padding: 15px;
	margin: 5px auto;
}

.search-wrapper input {
	/*width: 340px;*/
	width: 75.5%;
	height: 40px;
	padding: 10px 5px;
	float: left;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	background: #FAFAFA;
	border-radius: 3px 0 0 3px;
	color: #424242;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.search-wrapper input:focus {
	outline: 0;
	background: #FFF;
	border: 2px solid #FAFAFA;
}

.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	/*width: 110px;*/
	width: 24.5%;
	text-transform: uppercase;
	color: #FFF;
	background: #d83c3c;
	border-radius: 0 3px 3px 0;  
}
.search-wrapper button:hover{    
    background: #e54040;
}  
.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
.search-wrapper button:hover:before{
    border-right-color: #e54040;
}
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
} 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

/* Bootstrap dropdown style */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

/* overwrite dropdown for typeaheads */
.search-wrapper .dropdown-menu {
	width: 100%;
	max-width: 340px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-moz-border-top-left-radius: 0;
	-moz-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
}

/* Location and map switch */
.switch {
  top: 85px;
  right: 5px;
  position: absolute;
  z-index:155;
  padding: 10px;
}

.opt {
  background: #FFF;
  float: right;
  padding: 10px;
  width: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.55);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.opt i {
  clear: both;
}

.switch button {
  float: right;
  margin-right: 15px;
  padding: 10px;
  font-size: 15px; 
  background: #FFF;
  border: 1px solid #b2b2b2;
  outline: 0;
  color: #424242;
}
.switch button i {
  padding-left: 5px;
  color: #b2b2b2;
}

.switch ul.dropdown-menu {
  display: block;
  margin-top: -10px;
  min-width: 0px;
  width: 120px;
  left: 10px;
  padding: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.switch ul.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}
.switch ul.dropdown-menu li:hover {
  background: #E6E6E6;
}

/* List view */
.listView {
  min-width: 100%;
  min-height: 100%;
  background: #f5f5dc;
  position: absolute;
  padding-top: 120px;
}

.card {
  max-width: 500px;
  margin: 5px auto;
  margin-bottom: 45px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-bottom-width: 3px;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  background: #FFF;
}
.card h1 {
  font-size: 20px;
  margin: 0;
}
.card h4 {
  float: left;
  margin: 0;
  font-size: 14px;
  padding-right: 20px;
  color: #bfbfbf;
}
.card h4.company {
  color: #A4A4A4;
}